<div class="main-div">
  <div class="navbar">
    <app-navigationbar></app-navigationbar>
  </div>
  <!-- <div *ngIf="!isAdmin">
    <mat-slide-toggle style="float:right;margin: 10px;" ngModel name="showMyBooks" (change)="toggleChanged($event)">
      {{showBooksMessage}}</mat-slide-toggle>
  </div> -->

  <div class="products-div">
    <div *ngFor="let book of books" class="book-div">
      <mat-card class="book-div">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 slick-slide slick-active" data-slick-index="0"
          aria-hidden="false" style="width: 282px;">
          <div id="LI_1">
            <div id="DIV_2">
              <figure id="FIGURE_4">
                <img width="250" height="315px" class="img-responsive lazyMain" style="display: block;" alt=""
                  id="IMG_6" src="{{book.image}}">
              </figure>
              <div id="DIV_7">
                <h2 id="H2_8">
                  {{book.title}}
                </h2>
                <span id="SPAN_9">
                  {{book.author}}</span>
              </div>
              <div id="DIV_17">
                <div id="DIV_18">
                  <a id="A_19"
                    ng-click="showFullData('059655558X','http://books.google.co.in/books?id=1PgCCVryjOQC&amp;printsec=frontcover&amp;dq=isbn:059655558X&amp;hl=&amp;cd=1&amp;source=gbs_api','basic');"><span
                      class="f_detail">{{book.category}}</span></a>
                  <a class="A_20" href="" style="background: green;
color: white;"><span class="f_available">{{book.status}}</span>
                    (1)</a>
                </div>
              </div>
            </div>

          </div>

          <div class="check-buttons">
            <div *ngIf="isAdmin">
              <mat-form-field appearance="outline" class="users-list">
                <mat-label>Select User</mat-label>
                <mat-select (selectionChange)="selectUser($event)">
                  <mat-option *ngFor="let user of users" [value]="user.userId">
                    {{user.firstName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="margin-bottom: 19px;">
              <button mat-raised-button color="primary" *ngIf="book.isAvailable" (click)="checkIn(book)">Issue</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>