.mat-card {
    width: 600px;
}

.main-div {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.row {
    display: flex;
    justify-content: space-between;
}

mat-form-field {
    width: 100%;
}