<p>
  <mat-toolbar>
    <h1 routerLink="/homepage" class="pointer"><a mat-button></a>E-Library Manager</h1>
    <span class="m-l-10">
      <a routerLinkActive="is-active" mat-button routerLink="/homepage">Dashboard</a>
      <a routerLinkActive="is-active" mat-button routerLink="/issuedBooks">Issued Books</a>
      <a routerLinkActive="is-active" mat-button routerLink="/categories" *ngIf="this.roleType=='Admin'||this.roleType=='Librarian'">Categories</a>
      <a routerLinkActive="is-active" mat-button routerLink="/authors" *ngIf="this.roleType=='Admin'||this.roleType=='Librarian'">Authors</a>
      <a routerLinkActive="is-active" mat-button routerLink="/users" *ngIf="this.roleType=='Admin'">Users</a>

    </span>
    <span class="example-spacer"></span>
    <div style="display: flex;align-items: center;">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon pointer"
        (click)="logout()" routerLink="/login">
        Logout
      </button>
    </div>
  </mat-toolbar>
</p>