<p>
  <mat-toolbar>
    <h3><a mat-button routerLink="/homepage">Smart Library</a></h3>
    <span class="m-l-10">
  
       <a mat-button routerLink="/users" *ngIf="this.isAdmin">Users</a> 
      <a mat-button routerLink="/authors" *ngIf="this.isAdmin">Authors</a> 
      <a mat-button routerLink="/categories" *ngIf="this.isAdmin">Categories</a> 
      <a mat-button routerLink="/issuedBooks">Issued Books</a> 
    </span>
    <span class="example-spacer"></span>
    <div style="display: flex" *ngIf="!this.isAdmin">
      <span class="m-l-10"><a mat-button>Fine :{{fine}}$</a>
        </span>
      <!-- <button mat-icon-button *ngIf="this.isAdmin" class="example-icon m-right"
        aria-label="Example icon-button with share icon" routerLink="/addUser">
        Add user
      </button> -->
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()"
        routerLink="/login">
        logout
      </button>
    </div>
  </mat-toolbar>
</p>