.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {

  color     : white;
  background: #39737a;
}

.m-right {
  margin-right: 48px;
}

.m-l-10 {
  margin-left: 10px;
}

.is-active {
  background-color: #543838d1 !important;
}
/* Adjust the height of the sidenav container to fit the viewport */
.mat-sidenav-container {
  height: 100vh;
}

/* Prevent scrolling on the sidenav content */
.mat-sidenav-content {
  overflow: hidden;
}
